<div id="footer">
<div class="foot">
  <div class="col-md-5 sharethis">

        <span class="glyphicon glyphicon-envelope"></span>
  CONTACT US<br>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>

 
 </div>



   <div class="col-md-3 reserved">Address: #750 Dos Castillas, Sampaloc Manila</div>
     <div class="col-md-3 reserved">©La Svea Inc. Copyright 2014. All Rights Reserved.</div> 
   </div>
</div>