<div id="footer" class="row">
  <div class="col-md-12 reserved">©Sugar Plum Global Dist., Inc. Copyright 2014. All Rights Reserved.<br>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Catalogue", catalogue_path %></li>
      <li><%= link_to "About", "" %></li>
      <li><%= link_to "Contact", "" %></li>
    </ul>
  </div>
</div>
