<div class="header"> 
  <div class="container">
    <div class="row">
      <div class="col-md-3 left">
        <%= link_to image_tag("lasvealogo.png"), root_path %>
      </div>
      <div class="col-md-7 nav">
        <%= render partial: "shared/navigation" %>
      </div>
      <div class="col-md-2 call">
      CALL: 783-61-70
      <p>lasvea2014@email.com</p>
      </div>
    </div>
  </div>
</div>
