<div class="header"> 
  <div class="container">
    <div class="row header-inner">
      <div class="col-md-3 left">
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
      <div class="col-md-9 nav">
        <%= render partial: "shared/navigation" %>
      </div>
    </div>
  </div>
</div>
