<div class="row welcome">
  <div class="col-md-12">
    <h1>Welcome to La Svea....</h1>
    <p>"All you need is love. But a little cupcakes now and then doesn't hurt."</p>
    <p>A cupcake is a small cake which is generally designed as a single serving. Many people enjoy making and eating cupcakes along with other miniaturized foods, and most bakeries offer a line of these cakes in addition to their other desserts. In some parts of the world, a cupcake may be known as a fairy cake, which is probably a reference to the small and dainty size.</p>
    </div>

</div>