<div class="row welcome">
  <div class="col-md-12">
    <h1>Welcome to La Svea....</h1>
    <hr>
    <p>We call our products edible art in the form of fun and whimsical Royal Icing  decorations and toppers for cakes, cupcakes and cookies. From home bakers to professional pastry chefs, our wide selection of products  are  designed and artfully crafted to inspire and make anyone's pastry decorating for any occasion more fun!</p>
    <p>A cupcake is a small cake which is generally designed as a single serving. Many people enjoy making and eating cupcakes along with other miniaturized foods, and most bakeries offer a line of these cakes in addition to their other desserts. In some parts of the world, a cupcake may be known as a fairy cake, which is probably a reference to the small and dainty size.</p>

    <p>Our product line caters to all seasons and occasions.
    </p>
    <p>For CHRISTMAS, add some sparkle to your holiday table. Our beautiful, colorful Christmas Royal Icing edible decors are designed to make your holiday entertaining more festive. They are also good for giving gifts to friends and family. Check out our Christmas collection and pick your choice!</p>
    <p>VALENTINE'S DAY is all about love and romance. Make us a part of this special day.  Decorate your sweets with our special Valentine treats!</p>
    <p>EASTER celebrations will be more fun with goodies decorated with Easter-inspired designs in lovely pastels.</p>
    <p>On GRADUATION DAY, top your pastries with our adorable souvenir items.
</p>
	<p>To welcome  the SUMMER, fill  your cupcakes with cute little critters, butterflies, birds and bees!</p>
	<p>HALLOWEEN is no exception. Scare your guests with the coolest goodies! We have scary decors and toppers for your cupcakes and goodies, too.</p>
	<p>Be cute and whimsical with your BABY PARTY pastries. Our adorable baby-inspired Royal Icing designs are perfect for any baby occasion!</p>
	<p>For KIDDIE PARTIES, we also have a wide selection of items from farm, safari, jungle and pet animals to clowns, pirates and sea creatures, birds, fairies, princes and princesses.</p>
	<p>Make your BALL GAMES more fun! Top your goodies with our specially designed balls! Basket balls, Soccer balls, Rugby balls and Tennis balls.</p>
	<p>Not to forget, we have FLOWERS for all occasions. Pretty-up that cake, cupcake or cookie. Fill them with flowers and turn them into garden delicacies! Roses,Tulips,Orchids,Daisies,Blossoms and a lot more. You can have a variety of  flowers in a variety of colors and sizes.</p>

    </div>

</div>
