<div class="row welcome">
  <div class="col-md-12">
    <h1>Welcome to Sugar Plum, a leading manufacturer of Royal Icing in the Philippines</h1>
    <hr>
    <p>
    If you’re looking for the perfect decorations to top your cakes, cupcakes and cookies, Royal Icing is the product for you!
    </p>
    <p>
    The master culinary artisans here at Sugar Plum provide you with edible art that will spruce up any sweet treat. Whether it’s for Christmas, Valentines, Halloween or graduation day, we have the royal solution for every occasion. Browse our catalog to see the products we offer. Can’t find what you need? Contact us and inquire about customized products.
    </p>
    <p>
    We do retail (store-ready) as well as wholesale packaging. Local and international orders are accepted. For business inquiries, email us at <a href="emailto:sugarplum.global@gmail.com.">sugarplum.global@gmail.com</a>.
    </p>
  </div>
</div>
