<div class="row category_preview">
<div class="col-md-12 category">Categories</div>
  <% 4.times do %>
    <div class="col-md-3 preview">
      <%= image_tag("slide1.jpg") %>
        <p class="description content">
         Animals
      
        </p>
    </div>
  <% end %>
</div>

<div class="row product_preview">
<div class="col-md-12 category">Products</div>
  <% 4.times do %>
    <div class="col-md-3 preview">
      <%= image_tag("slide1.jpg") %>
        <p class="description_content_product">
          Cupcake yu789<br>
          <b>Local Price:</b> P100.00 <br>
          <b>International Price: </b>$4.50 
        </p>
    </div>
  <% end %>
</div>


  