<div class="row">
<div class="col-md-7 about">
  <h1>What is La Svea?</h1>
      <p>La Svea, Inc. is a family-owned corporation started in 2009 with the intention of providing inspiration to bakers around the globe. The company supplies Royal Icing products to both the local and international markets.

Five-star hotels are our primary customers in the local market, for which we provide customized Royal Icing decorations for special functions and holiday celebrations. 
We export our products to companies in the United States, Australia and New Zealand.

Our products are 100% hand crafted all done under close supervision. We make sure that we comply with all the requirements of every country we ship them to.
We package our products according to the specifications of each client. We customize our packaging depending on their needs. We do retail  (store-ready) as well as wholesale packaging. Most importantly, our prices, as well as our products, are very competitive.

We always do our best to focus on the quality, good service, meeting customers' expectations and everything that spells excellence.</p>
</div>

<div class="col-md-5 cupcake">
<%= image_tag ("about.jpg") %>
</div>
</div>
