<div class="row">

  <div class="col-md-12 category">Categories</div>
  <hr>
</div>

<% @categories.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |category| %>
       <div class="col-md-3 preview">
      <%= image_tag("slide1.jpg") %>
        <p class="description content">
          <%= category.name %>
        </p>
    </div>
    <% end %>
  </div>
<% end %>
