<div class="row">
  <div class="col-md-12">
    <h1 class="title">Catalogue</h1>
    <hr>
  </div>
</div>

<% @categories.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |category| %>
      <div class="col-md-3 preview_cat">
        <%= image_tag(category.banner.url(:medium), size: "250x150") %>
        <p class="description content">
          <%= link_to category.name, catalogue_show_path(category.id) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
