<div class="row">
  <div class="col-md-12">
    <h1 class="title">Catalogue</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
    We call our products edible art – fun, whimsical Royal Icing decorations and toppers for cakes, cupcakes and cookies. From home bakers to professional
    pastry chefs, our wide selection of products are designed and artfully crafted to inspire and make anyone's pastry decorating for any occasion more fun!
    Can’t find what you need? Contact us and inquire about customized products.</p>
    <p>
    You must be logged in to see the prices of the products. Go to our contact page to create a user account for free.
    </p>
  </div>
</div>

<% @categories.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |category| %>
      <div class="col-md-6 preview_cat">
        <%= image_tag(category.banner.url(:medium), size: "350x250") %>
        <p class="description content">
          <%= link_to category.name, catalogue_show_path(category.id) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
