<div class="row">
<div class="col-md-7 contact">
  
  
</div>

<div class="col-md-5 postit">

  <div class=""><b>CALL US:</b> 783-61-70 </div>
  <div class=""><b>Address:</b> #750 Dos Castillas Sampaloc Manila </div>
   <%= image_tag ("cup.png") %>
</div>
</div>