<div class="row">
<div class="col-md-7 contact">
  
  
</div>

<div class="col-md-5 postit">

  <div class=""><b>E-mail:</b> <br>lasvea2014@email.com </div> <br>
  <div class=""><b>Telephone:</b> <br>783-61-70 </div> <br>
  <div class=""><b>Address:</b><br> #750 Dos Castillas Sampaloc Manila </div>
   <%= image_tag ("cup.png") %>
</div>
</div>