<div class="row">
  <div class="col-md-12">
  </div>
</div>

<div class="row">
  <div class="col-md-4 landing-sub">
    <%= link_to "Catalogue", catalogue_path %>
  </div>
  <div class="col-md-4 landing-sub mid">
  </div>
  <div class="col-md-4 landing-sub">
  </div>
</div>
