<div class="row"> 
  <div class="col-md-12">
    <%= render partial: "shared/carousel" %>
  </div>
</div>
<div class="row content-cupcakes">
  <div class="col-md-12">
    <%= render partial: "shared/lasvea" %>
  </div>
</div>
<%= render partial: "shared/preview" %>
