<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head>
  <body>
    <h2>From: <%= @contact_info.email %></h2>
    <h2>Message</h2>
    <%= @contact_info.content %>
  </body>
</html>
