<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact_info.name %></h1>
    <h2>Message</h2>
    <%= @contact_info.message %>
  </body>
</html>
