<div class="row">
  <div class="col-md-12">
    <h1><%= @category.name %></h1>
    <hr>
  </div>
</div>
<% @products.each_slice(3) do |products| %>
  <div class="row">
    <% products.each do |product|%>
      <%= link_to(product_path(product.id), data: { colorbox: true }) do %>
        <div class="col-md-4">
          <div class="product">
            <div class="product-image">
              <%= image_tag product.picture.url(:medium) %>
            </div>
            <div class="product-name">
              <%= product.pname %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
