<div class="row cat">
  <div class="col-md-12 cat-name">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
  <hr>
  </div>
</div>
<% @products.each_slice(3) do |products| %>
  <div class="row">
    <% products.each do |product|%>
      <%= link_to(product_path(product.id)) do %>
        <div class="col-md-4">
          <%= render partial: "products/preview", locals: { product: product } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
