.header {
  margin-top: 40px;
  font-family: 'Allura', cursive;
  background-repeat: repeat-x;
  text-align: left;
  img {
    width: 200px;
    height: 150px;
    margin-top: -42px;
  }
  color: black;
}


body {
  background-color: white;
 
}

.border-bumps {
  background-image: url('curl.jpg');
  background-repeat:repeat-x;
}





