.header {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  background: url('ribbon3.png') top center;
  background-repeat: repeat-x;
  text-align: left;
  img {
    width: 200px;
    height: 150px;
    margin-top: -42px;
  }
}


body {
  background-color: white;
  background-image: url('bg.jpg');

}

.border-bumps {
  background-image: url('curl.jpg');
  background-repeat:repeat-x;
}





