#navigation {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  margin-left: -30px;

  ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  li {
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
    text-decoration: none;
    a {
      color: #27aae1;
    }
    a:hover {
      color: orange;
    }
  }

  color: black;
}

