.content-cupcakes {
  text-align: justify;
  padding: 10px;
  margin-left: 0px;
}


.carousel-inner {
  img {
    width: 100%;
    height: 300px !important;
  }
  height: 300px;
}

.carousel {
  padding: 10px;
  width: 100%;
 
}

.carousel slide {
   background-color: white;
}


.reserved {
   ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    a {
      color: white;
    }
    a:hover {
      color: yellow;
    }
  }
 
}



.foot {
  margin-left: 3px;
}

.glyphicon-envelope {
  font-size: 20px;
  color: white;

}



.stuffs {
  border-radius: 6px;
  font-family: 'Allura', cursive;
  font-size: 30px;
  padding: 10px;
  color: #ff2800;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.left {
  img {
    max-width:160px;
    height:90px;
  }
}

.nav {
  margin-top: -33px;
}

.call {
  font-family: Arial;
  font-weight: bold;
  color: orange;
  margin-top: -5px;
  text-align: left;

  p {
    font-size: 10px;
  }
}


.carousel-control.right {

background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0000) 0%), color-stop(rgba(0, 0, 0, 0.0) 100%));
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0.0) 100%);
background-repeat: repeat-x;

}

.carousel-control.left {

background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0000) 0%), color-stop(rgba(0, 0, 0, 0.0) 100%));
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0.0) 100%);
background-repeat: repeat-x;

}

.welcome {
   font-family: 'Allura', cursive;
   color: #27aae1;

   p {
   font-family: Aspire;
   color: #787878;
   }
}

.preview {
  img {
  width: 220px;
  height: auto;
 

  color: black; 
  }

  margin-top: 10px;
  text-align: center;

.description{  
    left:0px;    
    background-color: #0099FF;
    font-size:20px;  
    color: black;  
    opacity:0.6; 
    filter:alpha(opacity=60); 
    font-family: Aspire;
    width: 220px;
    
    margin-top: -27px;
    text-align: left;
  
}  
p.description_content{  
    padding:10px;  
    margin:0px;  

}  

}

.title {
  font-family: 'Allura', cursive;
  color: #27aae1;
}

.products {
font-family: 'Allura', cursive;
font-size: 30px;
color: #27aae1;
}

.category_preview {
  .category {
    margin-left: 17px;
  }
 
}

.product_preview {
padding-top: 10px;
.category {
    margin-left: 17px;
  }
}

.description_content_product {
  margin-top: 10px;
  background-color: #27aae1;  
  font-family: Aspire;
  color: white;
  text-align: left;
  padding-left: 10px;
  width: 220px;
  
}


.catalogue {
  font-family: 'Allura', cursive;
}


.preview_cat {
  img {
    width: 220px;
    height: auto;

    color: black; 
  }

  margin-top: 10px;
  text-align: center;

  .description{  
      left:0px;    
      background-color: #0099FF; 
      font-size:20px;   
      opacity:0.6; 
      filter:alpha(opacity=60); 
      width: 220px;
      
      margin-top: -27px;
      text-align: left;
      padding-left: 10px;
  }  

  a {
    color: rgba(0,0,0,1);
  }
  p.description_content{  
      padding:10px;  
      margin:0px;  

  }  
}

.cat { 
  margin-top: -16px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}




