.content-cupcakes {

  text-align: justify;
  padding: 10px;
  margin-left: 0px;
}


.carousel-inner {
 img {
  width: 400px;
  height: 150px;
  margin-left: 350px;

}

height: 150px;
}

.carousel {
  margin-top: 15px;
  padding: 10px;

}

.sharethis {
  margin-top: 10px;
}

.reserved {

  margin-top: 20px;

}


.foot {
  margin-left: 3px;
}

.glyphicon-envelope {
  font-size: 20px;
  color: white;

}

.address {

}