<div class="row product">
  <div class="col-md-4">
    <div class="product-image">
      <%= image_tag @product.picture.url(:medium) %>
    </div>
    <div class="product-name">
      <%= @product.pname %>
    </div>
  </div>

  <div class="col-md-8">
    <h1><%= @product.pname %></h1>
    <hr>
    <div class="product-description">
      <%= @product.description %>
    </div>
    <div class="product-pricing">
    </div>
  </div>
</div>
